html, body {
  width: 100%;
  height: 100%;
  
}



#particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  
  z-index: 0;
  /* display: flex; */
  min-height: 100%;
  /* display: flex; */
  /* flex-direction: row;
  align-items: stretch; */
}


.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  grid-template-columns: repeat(12, 1fr);
  /* grid-auto-rows: minmax(100px, auto); */
grid-template-rows: auto;
grid-template-areas: 
"a a a a a c c c c c c c "
"a a a a a c c c c c c c "
"a a a a a c c c c c c c "
"b b b b b c c c c c c c "

;
  position:absolute;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */

  z-index: 1;
}



h1 {
  font-size: 2vw;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  /* margin-top: -4.5px; */
  color:#b61924;


}

h3 {
  font-size: 2vm;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color:#b61924;

}

h4 {
  font-size: .8em;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color:#b61924;
  

}

/* #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dfe5e8;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  
  min-height: 100%;
  
  flex-direction: row;
  align-items: stretch;
} */



.boxOne {
  font-size: 2em;
  z-index: 2;
  /* width:500px;
    height:460px; */
  /* background: #eee; */
  /* margin: auto; */
  padding: 20px;
  border-radius: 25px;
  grid-area: a;
 
  /* display: flex; */
  /* flex-wrap:nowrap; */
  /* order:1; */
}

.boxThree {
  font-size: 2em;
  z-index: 2;
  /* background: #eee; */
  padding: 20px;
  border-radius: 25px;
  grid-area: c;
}

.work{
  height:21em;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
/* card stuff */

.card {
  box-shadow: 0 4px 8px 0 #1c40e3;
  transition: 0.3s;
  flex-grow: 1;
  width: 30%;
  border-radius: 5px;
  /* background-color: red; */
  display: inline-block;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
/* End of card stuff */
.boxTwo {
  font-size: 2em;
  z-index: 2;
  /* width:720px;
        height:680px; */
  /* background: #eee; */
  /* margin: auto; */
  padding: 20px;
  border-radius: 25px;
  grid-area: b;
 
  /* flex-wrap:nowrap; */
 
}

.particles-js-canvas-el {
  position: absolute;
}

.technologies{
  padding-top: 1em;
}

.icon {
  color: #1c40e3;
  /* font-size: 2.25em; */
  font-size: 3em;
  padding-right: 21.5px;
  padding-bottom: 21.5px;
  /* padding: 12px; */
  display: inline-block;
  width: 92px;
  height: 92px;
}

.cIcon{
  font-size: 4vw;
 
}

#links{
  display:flex;
  justify-content: space-evenly;
  padding-top: 1em;
  /* flex-wrap: nowrap; */

/* margin: auto; */
/* flex-wrap: wrap; */
/* flex-direction: row; */
}

#resumeButton{
  /* background-color: #1c40e3;  */
  background-color: #b61924;
  border-radius: 5px;
  border: none;
  color: #dfe5e8;
  padding: 20px 10px;
  margin: auto;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  /* align-items:center; */
  /* margin: auto; */
  /* margin-left: 65px; */
  /* margin-bottom: 30px; */
  /* margin-top: -90px; */
 
}

#resume{
  /* float:left; */
}

a{
  color:#b61924;
}

.button{
  font-family: 'Rubik', sans-serif;
}

img{
  height: 45%;
}

h5{
  font-family: 'Rubik', sans-serif;
  color:#b61924;

}

h6{
  font-family: 'Rubik', sans-serif;
  color:#b61924;

font-size: 50%;
}

p{
  font-family: 'Rubik', sans-serif;
}