html, body {
  width: 100%;
  height: 100%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dfe5e8;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  /* display: flex; */
  min-height: 100%;
  /* display: flex; */
  flex-direction: row;
  align-items: stretch;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper>div {
  margin: 1em;
}

h1 {
  font-size: 1.5em;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin-top: -4.5px;
}

h3 {
  font-size: .8em;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

h4 {
  font-size: .8em;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

/* #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dfe5e8;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  
  min-height: 100%;
  
  flex-direction: row;
  align-items: stretch;
} */



.boxOne {
  font-size: 2em;
  z-index: 10;
  /* width:500px;
    height:460px; */
  background: #eee;
  /* margin: auto; */
  padding: 20px;
  border-radius: 25px;
  z-index: 2;
  /* display: flex; */
  /* flex-wrap:nowrap; */
  /* order:1; */
}

.boxThree {
  font-size: 2em;
  z-index: 10;
  background: #eee;
  padding: 20px;
}

.boxTwo {
  font-size: 2em;
  z-index: 10;
  /* width:720px;
        height:680px; */
  background: #eee;
  /* margin: auto; */
  padding: 20px;
  border-radius: 25px;
  z-index: 2;
  /* display: flex; */
  /* flex-wrap:nowrap; */
  order: 2;
}

.particles-js-canvas-el {
  position: absolute;
}

.icon {
  color: #1c40e3;
  font-size: 2.25em;
  padding-right: 21.5px;
  padding-bottom: 21.5px;
  /* padding: 12px; */
  display: inline-block;
  width: 72px;
  height: 72px;
}

.cIcon{
  font-size: 2.25em;
}